html,body{
    height: 100%;
}

body{
    font-family: 'Century Gothic', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 18px;
    line-height: 1.7;
    color: 333333;
    font-weight: 700;
}


h1,
h2,
h3,
h4,
h5,
h6{
    color: #333333;
    font-weight: 500;
}

p {
    letter-spacing: 0;
    line-height:1.8;
}

a{
    text-decoration: none;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}

a:focus{
    outline:none;
    text-decoration: none;
}

ul,li{
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.section-padding{
    padding: 60px 0;
}

.section-header{
    margin-bottom: 60px;
    text-align: center;
}

.section-header h2 {
    display: inline-block;
    padding: 5px;
    margin: 5px 0;
}

.line-one {
    height: 1px;
    width: 100px;
    background: #061a3f;
    display: block;
    margin-top: 50px;
    margin: 0 auto;
    padding: 0;
}

/*---Default css ends---*/

/*-------------- 2. Preloader css starts ---------------*/

.loader_bg {
    position: fixed;
    z-index: 9999999;
    background: #ffffff;
    width: 100%;
    height: 100%;
}

.loader {
    border: 0 solid transparent;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: calc(50vh - 100px);
    left: calc(50vw - 100px);
}

.loader:before, .loader:after {
    content: '';
    border: 1em solid #b89485;
    border-radius: 50%;
    width: inherit;
    height: inherit;
    position: absolute;
    top: 0;
    left: 0;
    animation: loader 2s linear infinite;
    opacity: 0;
}

.loader:before {
    animation-delay: .5s;
}

@keyframes loader {
    0% {
        transform: scale(0);
        opacity: 0; }
    50% {
        opacity: 1; }
    100% {
        transform: scale(1);
        opacity: 0; }
}


/*-------------- Preloader css ends ---------------*/

/*--- 3. Mouse animation css starts---*/

@-webkit-keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

@keyframes scroll-ani {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}

.mouse-scroll {
    position: absolute;
    left:48%;
    display: inline-block;
    line-height: 18px;
    font-size: 13px;
    font-weight: normal;
    color: #f1eae6;
    letter-spacing: 2px;
    margin-top: 5%;
    text-decoration: none;
    overflow: hidden;
}

.mouse-scroll .mouse {
    position: relative;
    display: block;
    width: 35px;
    height: 60px;
    margin: 0 auto 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid #f1eae6;
    border-radius: 23px;
}

.mouse-scroll .mouse .mouse-movement {
    position: absolute;
    display: block;
    top: 29%;
    left: 50%;
    width: 8px;
    height: 8px;
    margin: -4px 0 0 -4px;
    background: #f1eae6;
    border-radius: 50%;
    -webkit-animation: scroll-ani 2s linear infinite;
    animation: scroll-ani 2s linear infinite;
}

/*---mouse animation ends---*/

/*---------- 4. Nav area css starts -------------*/

.nav-area{
    height: 65px;
}

.nav-area.sticky_navigation{
    background: #f1eae6;
    height: 80px;
}

.navbar-nav {
    margin-top: 15px;
}

.sticky_navigation{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out ;
    transition: all 0.4s ease-out ;
    -webkit-box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
    box-shadow: 0px 3px 4.6px 0.3px rgba(0,0,0,0.25);
}

.sticky_navigation .main-menu{
    margin-top: 0;
}

.sticky_navigation .navbar-brand, .sticky_navigation .navbar-brand span {
    color: #a4705a;
}

.sticky_navigation .navbar-brand:hover, .sticky_navigation .navbar-brand:focus, .sticky_navigation .navbar-brand span {
    color: #a4705a;
}

.sticky_navigation .nav li a {
    color: #a4705a;
}

.sticky_navigation .nav li.active a{
    color: #a4705a;
}

.sticky_navigation .nav li.active::before {
    border-top: 1px solid #a4705a;

    display: block;
    margin: 0 auto;
    width: 50%;
}
.sticky_navigation .nav li.active::after {
    border-bottom: 1px solid #a4705a;

    display: block;
    margin: 0 auto;
    width: 50%;
}

.sticky_navigation .navbar-brand:hover{
    color: #f1eae6;
}

.main-menu{
    -webkit-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
    margin-top: 10px;
}

.navbar{
    border:0;
    margin-bottom: 0;
}

.navbar-brand{
    padding: 25px 0;
    text-transform: uppercase;
    font-size: 25px;
    display: block;
    color: #f1eae6;
    font-weight: 800;
}

.logo {
    color: #a4705a;
    padding: 5px;
    font-size: 32px;
    letter-spacing: 3px;

}

.navbar-brand:focus, .navbar-brand:hover {
    text-decoration: none;
    color: #a4705a;
}

.navbar-right li{
    display: inline-block;
    float: none;
}

.navbar-right li a{
    color: #a4705a;
    text-transform: uppercase;
    font-weight: 600;
}

.navbar-right li.active a{
    font-weight: bold;
    color: #f1eae6;
}

.nav > li > a:hover,
.nav > li > a:active,
.nav > li > a:focus{
    background: none;
}

.navbar-toggle .icon-bar{
    background: #033D75;
}

/*---------- Nav area css ends -------------*/

/*----------- 5. Banner area css starts--------------*/


.banner-area{
    background-image: url(../images/home/background.png); /*--edit image--*/
    background-position: center;
    background-size:cover;
    position: relative;
    height: 100%;
}

.banner-area::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
}

canvas{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.banner-table{
    display: table;
    margin: 0;
    position: relative;
    height: 100%;
    width: 100%;
    z-index: 1;
}

.banner-table-cell{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.welcome-text .intro h2 {
    color: #f1eae6;
    font-size: 50px;
    font-weight: 600;
    margin-top: 0px;
    margin-bottom: 300px;
}

.intro h3 {
	color: #000000
}

.intro h1 {
    margin-left: 70px;
    margin-top: 250px;
    text-align: left;
    font-size: 60px;
    font-weight: 200;
    line-height: 0.8;

}


.phoneimg {
	width: 200px;
	height: 450px;
	float: right;
   	margin-top: 200px;
	margin-right: 200px;

}

.highlightme { 
	background-color:#a4705a;
	color: white; 
}



.intro h3 {
    color: #000000;
    font-size: 22px;
    font-weight: 100;
    margin-top: 0px;
}


input[type=text], select, textarea{
  font-family: 'Century Gothic', sans-serif;
  font-size: 20px;
  font-weight: 50;
  width: 30%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
}

input[type=submit] {
  font-family: 'Century Gothic', sans-serif;
  background-color: #a4705a;
  color: white;
  font-weight: 50;
  padding: 9px 18px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.ah-headline.clip .ah-words-wrapper::after {
    background-color: #ffffff;
}

.banner-btn {
    background: #f1eae6;
    text-decoration: none;
    font-size: 25px;
    padding: 10px 30px;
    font-variant: small-caps;
    display: inline-block;
    margin-top: 10px;
    color: #151515;
    text-transform: uppercase;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;
}
.banner-btn:hover, .banner-btn:focus {
    text-decoration: none;
    background:#a4705a;
    color: #f1eae6;
}

.socialbts {
    margin-top: 25px;
    border-radius:5px;
}
.socialbts i {
    margin: 0 5px;
}


/*---------Banner area css ends--------------*/

/*---------- Team area css starts---------------*/

.about{
    background-color:#f1eae6 
}

.about-text-left h2 {
    font-weight: 700;
    font-size: 36px;
    color: #b89485;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
}

.about-text-left h3 {
    color: #b89485;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.about-text-left p{
    text-align: right;
    font-size: 13px;
    color: #222;
    margin-bottom: 5px;
}

/*.about-text-left a {
    color: #f1eae6;
    font-size: 14px;
    text-transform: uppercase;
    background: #061a3f;
    padding: 15px;
    float: center;
    margin-top:5px;
    text-decoration: none;
}*/

.about-text-left a {
    color: #b89485;
}
.about-text-left {
    margin-top: 30px;
}

.about-text-left p {
    text-align: right;
    font-size: 15px;
    color: #222;
    margin-bottom: 5px;
}
.about-text-left img {
    float: center;
    width:  240px;
    height: 240px;
    background-size: cover;
    margin-top: 10px;
}
.about-text-right img {
    float: center;
    width:  240px;
    height: 240px;
    background-size: cover;
    margin-top: 10px;
}

.about-text-right h2 {
    font-weight: 700;
    font-size: 36px;
    color: #b89485;
    line-height: 1;
    text-align: center;
    margin-bottom: 5px;
}

.about-text-right h3 {
    color: #b89485;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    margin-bottom: 10px;
}

.about-text-right p{
    text-align: left;
    font-size: 13px;
    color: #222;
    margin-bottom: 5px;
}

.about-text-right a {
    color: #b89485;
}
  
/*.about-text-right a {
    color: #f1eae6;
    font-size: 14px;
    text-transform: uppercase;
    background: #061a3f;
    padding: 15px;
    float: center;
    text-decoration: none;
}*/

.about-text-right {
    margin-top: 30px;
}

.about-text-right p {
    text-align: left;
    font-size: 15px;
    color: #222;
    margin-bottom: 5px;
}

.about-text-team h2 {
    font-weight: 700;
    font-size: 25px;
    color: #b89485;
    line-height: 1;
    text-align: center;
}

.about-text-team h3 {
    color: #b89485;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

}

.about-text-team img {
    float: center;
    width:  180px;
    height: 180px;
    background-size: cover;
    margin-top: 10px;
}

.about-text-team p{
    text-align: left;
    font-size: 13px;
    color: #222;
    margin-bottom: 50px;
}

.about-text-team a {
    color: #b89485;
}
.about-text-team {
    margin-top: 1px;
}

.about-text-team p {
    text-align: left;
    font-size: 15px;
    color: #222;
    margin-bottom: 50px;
}

.single-contact .team-socials i {
    font-size: 14px;
    color: #000000;
}

.team-socials i:hover {
    cursor: pointer;
}


/*Team Area Ends*/

/*Colab starts*/

.colab p {
    margin-top: 100px;
}

.about-text-colab h2 {
    font-weight: 700;
    font-size: 30px;
    color: #b89485;
    line-height: 1;
    text-align: center;
}

.about-text-colab h3 {
    color: #b89485;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    margin-bottom: 50px;

}

.about-text-colab img {
    float: center;
    width:  805px;
    height: 200px;
    background-size: cover;
    margin-top: 15px;
    margin-bottom: 10px;
}

.about-text-colab p{
    text-align: center;
    font-size: 20px;
    color: #222;
    margin-top: 10px;

}

.about-text-colab a {
    color: #b89485;
}
.about-text-colab {
    margin-top: 1px;
}

    



/*Colab Ends*/



.services-area {
	background: #F3F4F3;
}

.services-icon i {
	font-size: 35px;
	color: #061a3f;
}

.single-services:hover i{
	color: #b89485;
}

.services-content h3 {
	line-height: 1.9;
	text-transform: uppercase;
}

.services-icon {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	padding: 20px;
}

.single-services {
	padding: 40px 20px;
	margin: 0 15px 15px;
	position: relative;
	overflow: hidden;
}

.single-services:hover {
	-webkit-transition: ease .09s;
	-o-transition: ease .09s;
	transition: ease .09s;
}

.single-services:hover .services-icon{
	-webkit-transition: ease .3s;
	-o-transition: ease .3s;
	transition: ease .3s;
}

.single-services:hover .services-icon i {
	-webkit-transform: rotate(360deg);
	-ms-transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
}

.single-services:hover {
	-webkit-transition: .9s;
	-o-transition: .9s;
	transition: .9s;
}

.single-services:hover .services-content {
	color: #000000;
}

.single-services:hover .services-content h3 {
	color: #061a3f;
}


/*--------------13. Footer area starts -------------*/

.footer-area {
    background: #232323;
    color: #f1eae6;
    padding: 30px 0;
}

/*--------------- Footer area ends -------------*/
